<a href="https://colab.research.google.com/github/dhurrohma/dhurrohma/blob/main/Project_Simple_ETL_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORT

In [1]:
import pandas as pd
df_participant = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/dqthon-participants.csv')

TRANSFORM BAGIAN I - KODE POS

In [2]:
df_participant['postal_code'] = df_participant['address'].str.extract(r'(\d+)$') #Masukkan regex Anda didalam fungsi extract

TRANSFORM BAGIAN II - KOTA

In [3]:
df_participant['city'] = df_participant['address'].str.extract(r'(?<=\n)(\w.+)(?=,)')

TRANSFORM BAGIAN III - GITHUB

In [4]:
df_participant['github_profile'] = 'https://github.com' + df_participant['first_name'].str.lower() + df_participant['last_name'].str.lower()

TRANSFORM BAGIAN IV - NOMOR HANDPHONE

In [9]:
#Masukkan regex anda pada parameter pertama dari fungsi replace
df_participant['cleaned_phone_number'] = df_participant['phone_number'].str.replace(r'^(\+62|62)', '0')
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'[()-]', '')
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'\s+', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

TRANSFORM BAGIAN V - NAMA TIM

In [10]:
def func(col):
    abbrev_name = "%s%s"%(col['first_name'][0],col['last_name'][0]) #Singkatan dari Nama Depan dan Nama Belakang dengan mengambil huruf pertama
    country = col['country']
    abbrev_institute = '%s'%(''.join(list(map(lambda word: word[0], col['institute'].split())))) #Singkatan dari value di kolom institute
    return "%s-%s-%s"%(abbrev_name,country,abbrev_institute)

df_participant['team_name'] = df_participant.apply(func, axis=1)

TRANSFORM BAGIAN VI - EMAIL

In [11]:
def func(col):
    first_name_lower = col['first_name'].lower()
    last_name_lower = col['last_name'].lower()
    institute = ''.join(list(map(lambda word: word[0], col['institute'].lower().split()))) #Singkatan dari nama perusahaan dalam lowercase

    if 'Universitas' in col['institute']:
        if len(col['country'].split()) > 1: #Kondisi untuk mengecek apakah jumlah kata dari country lebih dari 1
            country = ''.join(list(map(lambda word: word[0], col['country'].lower().split())))
        else:
            country = col['country'][:3].lower()
        return "%s%s@%s.ac.%s"%(first_name_lower,last_name_lower,institute,country)

    return "%s%s@%s.com"%(first_name_lower,last_name_lower,institute)

df_participant['email'] = df_participant.apply(func, axis=1)

TRANSFORM BAGIAN VII - TANGGAL LAHIR

In [13]:
df_participant['birth_date'] = pd.to_datetime(df_participant['birth_date'], format = '%d %b %Y')

TRANSFORM BAGIAN VIII - TANGGAL DAFTAR KOMPETISI

In [14]:
df_participant['register_at'] = pd.to_datetime(df_participant['register_time'], unit = 's')

In [26]:
print('Info df_participant:\n', df_participant.info())
print('\nKode Pos Partisipan:\n', df_participant[['first_name', 'last_name', 'postal_code']].head())
print('\nDomisili Partisipan:\n', df_participant[['first_name', 'last_name', 'city']].head())
print('\nAkun Github:\n', df_participant[['first_name', 'last_name', 'github_profile']].head())
print('\nNomor Handphone Sesuai Fromat:\n', df_participant[['first_name', 'last_name', 'cleaned_phone_number']].head())
print('\nNama Team:\n', df_participant[['first_name', 'last_name', 'team_name']].head())
print('\nDaftar Email:\n', df_participant[['first_name', 'last_name', 'email']].head())
print('\nTanggal Lahir:\n', df_participant[['first_name', 'last_name', 'birth_date']].head())
print('\nTanggal Mendaftar:\n', df_participant[['first_name', 'last_name', 'register_at']].head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   participant_id        5000 non-null   object
 1   first_name            5000 non-null   object
 2   last_name             5000 non-null   object
 3   birth_date            5000 non-null   datetime64[ns]
 4   address               5000 non-null   object
 5   phone_number          5000 non-null   object
 6   country               5000 non-null   object
 7   institute             5000 non-null   object
 8   occupation            5000 non-null   object
 9   register_time         5000 non-null   float64
 10  postal_code           5000 non-null   object
 11  city                  5000 non-null   object
 12  github_profile        5000 non-null   object
 13  cleaned_phone_number  5000 non-null   object
 14  team_name             5000 non-null   object
 15  email                 5000 non-null   object
 16  register_at           5000 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(14)
memory usage: 664.2+ KB
Info df_participant:
 None

Kode Pos Partisipan:
   first_name   last_name postal_code
0      Citra  Nurdiyanti       80734
1       Aris    Setiawan       09434
2   Cornelia   Handayani       57739
3      Soleh      Rajasa       76156
4       Vivi      Astuti       70074

Domisili Partisipan:
   first_name   last_name          city
0      Citra  Nurdiyanti         Medan
1       Aris    Setiawan    Prabumulih
2   Cornelia   Handayani         Ambon
3      Soleh      Rajasa  Lubuklinggau
4       Vivi      Astuti        Kediri

Akun Github:
   first_name   last_name                       github_profile
0      Citra  Nurdiyanti    https://github.comcitranurdiyanti
1       Aris    Setiawan       https://github.comarissetiawan
2   Cornelia   Handayani  https://github.comcorneliahandayani
3      Soleh      Rajasa        https://github.comsolehrajasa
4       Vivi      Astuti         https://github.comviviastuti

Nomor Handphone Sesuai Fromat:
   first_name   last_name cleaned_phone_number
0      Citra  Nurdiyanti          01510812706
1       Aris    Setiawan          00364617027
2   Cornelia   Handayani           0898336695
3      Soleh      Rajasa          04183294756
4       Vivi      Astuti           0812511835

Nama Team:
   first_name   last_name          team_name
0      Citra  Nurdiyanti     CN-Georgia-UPM
1       Aris    Setiawan  AS-Korea Utara-UD
2   Cornelia   Handayani      CH-Komoro-UHP
3      Soleh      Rajasa     SR-Eritrea-PTY
4       Vivi      Astuti    VA-Aljazair-PHR

Daftar Email:
   first_name   last_name                      email
0      Citra  Nurdiyanti    citranurdiyanti@upm.com
1       Aris    Setiawan      arissetiawan@ud.ac.ku
2   Cornelia   Handayani  corneliahandayani@uhp.com
3      Soleh      Rajasa        solehrajasa@pty.com
4       Vivi      Astuti         viviastuti@phr.com

Tanggal Lahir:
   first_name   last_name birth_date
0      Citra  Nurdiyanti 1991-02-05
1       Aris    Setiawan 1993-01-11
2   Cornelia   Handayani 1993-07-31
3      Soleh      Rajasa 1991-11-04
4       Vivi      Astuti 2003-01-22

Tanggal Mendaftar:
   first_name   last_name         register_at
0      Citra  Nurdiyanti 2021-04-05 14:47:26
1       Aris    Setiawan 2021-04-05 14:46:58
2   Cornelia   Handayani 2021-04-05 14:47:15
3      Soleh      Rajasa 2021-04-05 14:47:14
4       Vivi      Astuti 2021-04-05 14:46:50