<a href="https://colab.research.google.com/github/dhurrohma/dhurrohma/blob/main/Collection_Manipulation_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
bulan = ('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')
print(bulan[0])
print(bulan[1])
print(bulan[-3])
print(bulan[-1])

Januari
Februari
Oktober
Desember

In [ ]:
bulan = ('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')
spring = bulan[2:5]
print('Musim semi:', spring)
summer = bulan[5:8]
print('Musim panas:', summer)
autumn = bulan[-4:-1]
print('Musim gugur:', autumn)
winter = bulan[-1], bulan[0], bulan[1]
print('Musim dingin:', winter)

Musim semi: ('Maret', 'April', 'Mei')
Musim panas: ('Juni', 'Juli', 'Agustus')
Musim gugur: ('September', 'Oktober', 'November')
Musim dingin: ('Desember', 'Januari', 'Februari')

In [ ]:
food_menu = ['Seblak', 'Dendeng', 'Gado-gado']
drink_menu = ['Air Putih', 'Es Kelapa Muda', 'Es Sari Tebu']
menu = food_menu + drink_menu
print(menu)

['Seblak', 'Dendeng', 'Gado-gado', 'Air Putih', 'Es Kelapa Muda', 'Es Sari Tebu']

In [ ]:
print(">>> Fitur .append()")
food1 = ['Emping', 'Sate', 'Ikan Goreng']
food1.append('Nasi Kuning')
print(food1)
print('')
print(">>> Fitur .clear()")
food2 = ['Terong Balado', 'Empal Jagung', 'Rendang']
food2.clear()
print(food2)
print('')
print(">>> Fitur .copy()")
food3 = ['Nasi Kuning', 'Emping', 'Terong Balado']
food4 = food3.copy()
food5 = food3
food4.append('Tahu Gejrot')
food5.append('Ayam Goreng')
print(food3)
print(food4)
print('')
print(">>> Fitur .count()")
score = ['Rohma', 'Ina', 'Ina', 'Ina', 'Rohma', 'Ina', 'Ina', 'Rohma', 'Rohma', 'Rohma']
score_Rohma = score.count('Rohma')
score_Ina = score.count('Ina')
print(score_Rohma)
print(score_Ina)
print('')
print(">>> Fitur .extend()")
makanan = ['Taco', 'Yakisoba', 'Udang Kremes']
minuman = ['koktail', 'Berry Milk', 'Es Teh']
makanan.extend(minuman)
print(makanan)
print('')
print(">>> Fitur .index()")
nilai1 = ['Lana', 'Ina', 'Ina', 'Ina', 'Lana', 'Lana', 'Lana', 'Ina', 'Lana', 'Ina']
nilai_pertama_Ina = nilai1.index('Ina') + 1
print(nilai_pertama_Ina)
print('')
print(">>> Fitur .insert()")
nilai2 = ['Tono', 'Eko', 'Eko', 'Eko', 'Tono']
nilai2.insert(2, 'Tono')
print(nilai2)
print('')
print(">>> Fitur .pop()")
menu1 = ['Es Dawet', 'Ikan goreng', 'Taco', 'Es Teh', 'Es Krim']
menu1.pop(2)
print(menu1)
print('')
print(">>> Fitur .remove()")
menu2 = ['Ayam Goreng', 'Air Putih', 'Tahu Gejrot', 'Jus Alpukat', 'Udang Kremes']
menu2.remove('Tahu Gejrot')
print(menu2)
print('')
print(">>> Fitur .reverse()")
menu3 = ['Fuyunghai', 'Es Cendol', 'Es Kelapa Muda', 'Ayam Goreng', 'Jus Mangga']
menu3.reverse()
print(menu3)
print('')
print(">>> Fitur .sort()")
menu4 = ['Udang Kremes', 'Es teh', 'Dendeng', 'Gulai Kambing', 'Air Putih']
menu4.sort()
print(menu4)
menu4.sort(reverse=True)
print(menu4)

>>> Fitur .append()
['Emping', 'Sate', 'Ikan Goreng', 'Nasi Kuning']

>>> Fitur .clear()
[]

>>> Fitur .copy()
['Nasi Kuning', 'Emping', 'Terong Balado', 'Ayam Goreng']
['Nasi Kuning', 'Emping', 'Terong Balado', 'Tahu Gejrot']

>>> Fitur .count()
5
5

>>> Fitur .extend()
['Taco', 'Yakisoba', 'Udang Kremes', 'koktail', 'Berry Milk', 'Es Teh']

>>> Fitur .index()
2

>>> Fitur .insert()
['Tono', 'Eko', 'Tono', 'Eko', 'Eko', 'Tono']

>>> Fitur .pop()
['Es Dawet', 'Ikan goreng', 'Es Teh', 'Es Krim']

>>> Fitur .remove()
['Ayam Goreng', 'Air Putih', 'Jus Alpukat', 'Udang Kremes']

>>> Fitur .reverse()
['Jus Mangga', 'Ayam Goreng', 'Es Kelapa Muda', 'Es Cendol', 'Fuyunghai']

>>> Fitur .sort()
['Air Putih', 'Dendeng', 'Es teh', 'Gulai Kambing', 'Udang Kremes']
['Udang Kremes', 'Gulai Kambing', 'Es teh', 'Dendeng', 'Air Putih']

In [ ]:
print(">>> Fitur .count()")
tuple_score = ('Kinan', 'Sandra', 'Kinan', 'Kinan', 'Kinan', 'Sandra', 'Sandra', 'Kinan', 'Sandra', 'Sandra')
score_Kinan = tuple_score.count('Kinan')
score_Sandra = tuple_score.count('Sandra')
print(score_Kinan) 
print(score_Sandra) 
print('')
print(">>> Fitur .index()")
tuple_score = ('Eko','Tono','Tono','Eko','Tono','Eko','Tono', 'Tono', 'Eko', 'Tono')
score_pertama_Tono = tuple_score.index('Tono') + 1
print(score_pertama_Tono)

>>> Fitur .count()
5
5

>>> Fitur .index()
2

In [ ]:
print(">>> Fitur .add()")
set_buah1 = {'Anggur', 'Kakao', 'Melon', 'Timun', 'Blueberry'}
set_buah1.add('Mengkudu')
print(set_buah1)
print('')
print(">>> Fitur .clear()")
set_buah2 = {'Kakao','Belimbing','Lemon', 'Langsat', 'Manggis'}
set_buah2.clear()
print(set_buah2)
print('')
print(">>> Fitur .copy()")
set_buah3 = {'Pepaya','Anggur','Kakao', 'Lemon', 'Timun'}
set_buah4 = set_buah3
set_buah5 = set_buah3.copy()
set_buah4.add('Manggis')
set_buah5.add('Nanas')
print(set_buah3)
print(set_buah4)
print('')
print(">>> Fitur .update()")
parcel1 = {'Timun','Melon','Rambutan'}
parcel2 = {'Nanas','Lemon','Tin'}
parcel1.update(parcel2)
print(parcel1)
print('')
print(">>> Fitur .pop()")
parcel3 = {'Delima','Manggis','Timun', 'Semangka', 'Melon'}
buah = parcel3.pop()
print(buah)
print(parcel3)
print('')
print(">>> Fitur .remove()")
parcel4 = {'Langsat','Mangga','Melon'}
parcel4.remove('Mangga')
print(parcel4)
print('')
print(">>> Fitur .union()")
parcel5 = {'Salak','Jeruk','Anggur'}
parcel6 = {'Anggur','Langsat','Timun'}
parcel7 = parcel5.union(parcel6)
print(parcel5)
print(parcel7)
print('')
print(">>> Fitur .isdisjoint()")
parcel8 = {'Anggur','Jeruk','Ceri'}
parcel9 = {'Raspberry','Cempedak','Kiwi'}
parcel10 = {'Anggur','Manggis','Jeruk'}
parcel8_parcel9_disjoint = parcel8.isdisjoint(parcel9)
print(parcel8_parcel9_disjoint)
parcel8_parcel10_disjoint = parcel8.isdisjoint(parcel10)
print(parcel8_parcel10_disjoint)
print('')
print(">>> Fitur .issubset()")
parcel_A = {'Salak', 'Delima'}
parcel_B = {'Grapefruit','Anggur','Kiwi'}
parcel_C = {'Salak', 'Delima', 'Semangka', 'Kiwi', 'Nanas'}
parcel_A_dalam_C = parcel_A.issubset(parcel_C)
parcel_B_dalam_C = parcel_B.issubset(parcel_C)
print(parcel_A_dalam_C)
print(parcel_B_dalam_C)
print('')
print(">>> Fitur .issuperset()")
parcel_C_mengandung_A = parcel_C.issuperset(parcel_A)
parcel_C_mengandung_B = parcel_C.issuperset(parcel_B)
print(parcel_C_mengandung_A)
print(parcel_C_mengandung_B)
print('')
print(">>> Fitur .intersection()")
parcel_D = {'Timun', 'Blueberry', 'Kiwi', 'Belimbing', 'Delima'}
parcel_E = {'Langsat', 'Delima', 'Pepaya', 'Anggur', 'Kiwi'}
parcel_F = parcel_D.intersection(parcel_E)
print(parcel_F)
print('')
print(">>> Fitur .difference()")
parcel_G = parcel_D.difference(parcel_E)
print(parcel_G)
print('')
print(">>> Fitur .symmetric_difference()")
parcel_H = {'Delima', 'Timun', 'Kiwi', 'Nanas'}
parcel_I = {'Tomat','Delima','Rambutan','Nanas'}
parcel_J = parcel_H.symmetric_difference(parcel_I)
print(parcel_J)

>>> Fitur .add()
{'Anggur', 'Timun', 'Blueberry', 'Melon', 'Kakao', 'Mengkudu'}

>>> Fitur .clear()
set()

>>> Fitur .copy()
{'Anggur', 'Timun', 'Lemon', 'Manggis', 'Kakao', 'Pepaya'}
{'Anggur', 'Timun', 'Lemon', 'Manggis', 'Kakao', 'Pepaya'}

>>> Fitur .update()
{'Melon', 'Timun', 'Nanas', 'Tin', 'Lemon', 'Rambutan'}

>>> Fitur .pop()
Timun
{'Semangka', 'Manggis', 'Melon', 'Delima'}

>>> Fitur .remove()
{'Langsat', 'Melon'}

>>> Fitur .union()
{'Salak', 'Anggur', 'Jeruk'}
{'Salak', 'Anggur', 'Timun', 'Langsat', 'Jeruk'}

>>> Fitur .isdisjoint()
True
False

>>> Fitur .issubset()
True
False

>>> Fitur .issuperset()
True
False

>>> Fitur .intersection()
{'Delima', 'Kiwi'}

>>> Fitur .difference()
{'Blueberry', 'Timun', 'Belimbing'}

>>> Fitur .symmetric_difference()
{'Timun', 'Tomat', 'Kiwi', 'Rambutan'}

In [ ]:
print(">>> Fitur .clear()")
info_karyawan = {'nama' : 'Eka',
                 'no_id' : '204920',
                 'pekerjaan' : 'Supervisor'}
info_karyawan.clear()
print(info_karyawan)
print('')
print(">>> Fitur .copy()")
info_karyawan1 = {'nama' : 'Eka',
                  'no_id' : '204920',
                  'pekerjaan' : 'Supervisor'}
info_karyawan2 = info_karyawan1.copy()
info_karyawan2['nama'] = 'Lina'
info_karyawan2['no_id'] = '135209'
print(info_karyawan1)
print(info_karyawan2)
print('')
print(">>> Fitur .keys()")
info_karyawan = {'nama' : 'Eka',
                 'no_id' : '204920',
                 'pekerjaan' : 'Supervisor'}
kunci_akses = list(info_karyawan.keys())
print(kunci_akses)
print('')
print(">>> Fitur .values()")
value_dict = list(info_karyawan.values())
print(value_dict)
print('')
print(">>> Fitur .update()")
info_karyawan.update({'skillset':['Python', 'SQL']})
print(info_karyawan)

>>> Fitur .clear()
{}

>>> Fitur .copy()
{'nama': 'Eka', 'no_id': '204920', 'pekerjaan': 'Supervisor'}
{'nama': 'Lina', 'no_id': '135209', 'pekerjaan': 'Supervisor'}

>>> Fitur .keys()
['nama', 'no_id', 'pekerjaan']

>>> Fitur .values()
['Eka', '204920', 'Supervisor']

>>> Fitur .update()
{'nama': 'Eka', 'no_id': '204920', 'pekerjaan': 'Supervisor', 'skillset': ['Python', 'SQL']}

In [ ]:
# Tuple
print(">>> Tuple")
tuple_menu = ('Lele Goreng','Ayam Geprek','Air Putih','Tumis Kangkung')
jumlah_menu = len(tuple_menu)
print(jumlah_menu)
# List
print(">>> List")
list_menu = ['Lele Goreng','Ayam Geprek','Air Putih','Tumis Kangkung']
jumlah_menu = len(list_menu)
print(jumlah_menu)
print('')
# Konversi tipe data
print(">>> Konversi tipe data")
list_buah = ['Anggur', 'Anggur', 'Cherry', 'Anggur', 'Cherry', 'Kiwi', 'Anggur']
set_buah = set(list_buah)
print(set_buah)
list_buah = list(set_buah)
list_buah.sort()
print(list_buah)

>>> Tuple
4
>>> List
4

>>> Konversi tipe data
{'Anggur', 'Cherry', 'Kiwi'}
['Anggur', 'Cherry', 'Kiwi']

In [ ]:
# Data keuangan
keuangan = {'pengeluaran': [1300000, 2100000, 1900000, 400000, 700000, 100000, 1100000],
            'pemasukan': [1900000, 500000, 1900000, 900000, 1400000, 2000000, 500000]}
# Perhitungan rata-rata pemasukan dan rata-rata pengeluaran
total_pengeluaran = 0
total_pemasukan = 0
for biaya in keuangan['pengeluaran']: 
    total_pengeluaran += biaya
for biaya in keuangan['pemasukan']: 
    total_pemasukan += biaya
rata_rata_pengeluaran = total_pengeluaran/len(keuangan['pengeluaran'])
rata_rata_pemasukan = total_pemasukan/len(keuangan['pemasukan'])
print('Rata-rata Pengeluaran =', rata_rata_pengeluaran) 
print('Rata-rata Pemasukan =', rata_rata_pemasukan)

Rata-rata Pengeluaran = 1085714.2857142857
Rata-rata Pemasukan = 1300000.0