<a href="https://colab.research.google.com/github/dhurrohma/dhurrohma/blob/main/Python_for_Data_Profesional_Beginner%E2%80%8A_%E2%80%8APart_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
print("Hi, I'm Rohma.")
print("Saya sedang belajar Python")

Hi, I'm Rohma.
Saya sedang belajar Python

In [52]:
#Statement
print("Hi, I'm Rohma")
print("I'm learning Python")
print("Nice to meet you")
print(' ')
#Variables dan Literals
A = 11
B = 1
C = "Have a nice day"
#Operators
print(A + B)

Hi, I'm Rohma
I'm learning Python
Nice to meet you

12

In [53]:
C = 13
D = 21
print(C * D)

273

In [54]:
harga_awal = 19000
diskon = 7600
harga_setelah_diskon = harga_awal - diskon
dibayar = harga_setelah_diskon + (harga_setelah_diskon * 0.1)
print("Harga yang harus dibayar:")
print(dibayar)

Harga yang harus dibayar:
12540.0

In [55]:
data_list = [7, 'delapan', 9, 10.0, 11]
print(data_list[0])
print(data_list[1])
data_list[1] = 'lima'
print(' ')
print(data_list[1])

7
delapan

lima

In [56]:
data_tuple = ('Juli', 'Agustus', 'September', 'Oktober')
print(data_tuple[0])

Juli

In [57]:
data_list1 = ['Evan', 'Rohma', 'Nia', 'Evan', 'Tono']
print(data_list1)

['Evan', 'Rohma', 'Nia', 'Evan', 'Tono']

In [58]:
data_set = {'Evan', 'Rohma', 'Nia', 'Evan', 'Tono'}
print(data_set)

{'Rohma', 'Evan', 'Nia', 'Tono'}

In [59]:
data_frozenset = ({'Evan', 'Rohma', 'Nia', 'Evan', 'Tono'})
print(data_frozenset)

{'Rohma', 'Evan', 'Nia', 'Tono'}

In [60]:
biodata = {'nama': 'Rohma', 'asal perguruan tinggi' : 'Universitas Padjadjaran'}
print(biodata['nama'])
print(biodata['asal perguruan tinggi'])

Rohma
Universitas Padjadjaran

In [61]:
Tas = {"Nama" : "Tas Adidis Organizer", "Harga" : 180000, "Diskon" : 16200}
Foundation = {"Nama" : "Foundation Wet N Child", "Harga" : 150000, "Diskon" : 21000}
Primer = {"Nama" : "Primer Ajarine", "Harga" : 110000, "Diskon" : 5500}

Harga_Tas = Tas["Harga"] - Tas["Diskon"]
Harga_Foundation = Foundation["Harga"] - Foundation["Diskon"]
Harga_Primer = Primer["Harga"] - Primer["Diskon"]

Harga_Total = Harga_Tas + Harga_Foundation + Harga_Primer
Pajak = Harga_Total * 0.1

print('Daftar barang yang dibeli:')
print(Tas)
print(Foundation)
print(Primer)
print('\nTotal belanja:', Harga_Total + Pajak)

Daftar barang yang dibeli:
{'Nama': 'Tas Adidis Organizer', 'Harga': 180000, 'Diskon': 16200}
{'Nama': 'Foundation Wet N Child', 'Harga': 150000, 'Diskon': 21000}
{'Nama': 'Primer Ajarine', 'Harga': 110000, 'Diskon': 5500}

Total belanja: 437030.0

In [62]:
#Kode Awal
total_harga = 200000
diskon = 0.2
pajak = 0.1
bayar = 1 - diskon
bayar *= total_harga
total_pajak = pajak * bayar
bayar += total_pajak
print("Total pembayaran =", bayar)

Total pembayaran = 176000.0

In [63]:
# Penyederhanaan baris kode dengan menerapkan prioritas operator
total_harga = 200000
diskon = 0.2
pajak = 0.1
bayar = (1 - diskon) * total_harga
bayar += bayar * pajak
print("Total pembayaran =", bayar)

Total pembayaran = 176000.0

In [64]:
Tas = {"Nama" : "Tas Adidis Organizer", "Harga" : 180000, "Diskon" : 16200}
Foundation = {"Nama" : "Foundation Wet N Child", "Harga" : 150000, "Diskon" : 21000}
Primer = {"Nama" : "Primer Ajarine", "Harga" : 110000, "Diskon" : 5500}

Harga_Tas = Tas["Harga"] - Tas["Diskon"]
Harga_Foundation = Foundation["Harga"] - Foundation["Diskon"]
Harga_Primer = Primer["Harga"] - Primer["Diskon"]

Harga_Total = (Harga_Tas + Harga_Foundation + Harga_Primer) * 1.1

print('Daftar barang yang dibeli:')
print(Tas)
print(Foundation)
print(Primer)
print('\nTotal belanja:', Harga_Total)

Daftar barang yang dibeli:
{'Nama': 'Tas Adidis Organizer', 'Harga': 180000, 'Diskon': 16200}
{'Nama': 'Foundation Wet N Child', 'Harga': 150000, 'Diskon': 21000}
{'Nama': 'Primer Ajarine', 'Harga': 110000, 'Diskon': 5500}

Total belanja: 437030.00000000006

In [65]:
# Statement if
x = 18
if x % 2 == 0: # jika sisa bagi x dengan 2 sama dengan 0
    print("x habis dibagi dua") # statemen aksi lebih menjorok ke dalam

x habis dibagi dua

In [66]:
# Statement if ... elif ... else
x = 19
if x % 2 == 0: # jika sisa bagi x dengan 2 sama dengan 0
    print("x habis dibagi dua")
elif x % 3 == 0: # jika sisa bagi x dengan 3 sama dengan 0
    print("x habis dibagi tiga")
elif x % 5 == 0: # jika sisa bagi x dengan 5 sama dengan 0
    print("x habis dibagi lima")
else:
    print("x tidak habis dibagi dua, tiga ataupun lima")

x tidak habis dibagi dua, tiga ataupun lima

In [67]:
jam = 6
if jam >= 5 and jam < 12: # selama jam di antara 5 s.d. 12
    print("Selamat pagi!")
elif jam >= 12 and jam < 17: # selama jam di antara 12 s.d. 17
    print("Selamat siang!")
elif jam >= 17 and jam < 19: # selama jam di antara 17 s.d. 19
    print("Selamat sore!")
else: # selain kondisi di atas
    print("Selamat malam!")

Selamat pagi!

In [68]:
jam = 14
tagihan_ke = 'Mr. Oman'
warehousing = { 'harga_harian': 1400000, 'total_hari':16 } 
cleansing = { 'harga_harian': 1000000, 'total_hari':11 } 
integration = { 'harga_harian':5000000, 'total_hari':20 } 
transform = { 'harga_harian':2500000, 'total_hari':21 }

sub_warehousing = warehousing['harga_harian']*warehousing['total_hari'] 
sub_cleansing = cleansing['harga_harian']*cleansing['total_hari'] 
sub_integration = integration['harga_harian']*integration['total_hari'] 
sub_transform = transform['harga_harian']*transform['total_hari']

total_harga = sub_warehousing+sub_cleansing+sub_integration+sub_transform

print("Tagihan kepada:")
print(tagihan_ke)

if jam > 19:
    print("Selamat malam, anda harus membayar tagihan sebesar:")
elif jam > 17:
    print("Selamat sore, anda harus membayar tagihan sebesar:") 
elif jam > 12:
    print("Selamat siang, anda harus membayar tagihan sebesar:")
else:
    print("Selamat pagi, anda harus membayar tagihan sebesar:") 
print(total_harga)

Tagihan kepada:
Mr. Oman
Selamat siang, anda harus membayar tagihan sebesar:
185900000

In [69]:
# Tagihan
tagihan = [200000, 50000, 120000, 90000, 160000]
# Tanpa menggunakan while loop
total_tagihan = tagihan[0] + tagihan[1] + tagihan[2] + tagihan[3] + tagihan[4]
print(total_tagihan)

620000

In [70]:
# Tagihan
tagihan = [200000, 50000, 120000, 90000, 160000]
# Dengan menggunakan while loop
i = 0 # sebuah variabel untuk mengakses setiap elemen tagihan satu per satu
jumlah_tagihan = len(tagihan) # panjang (jumlah elemen dalam) list tagihan
total_tagihan = 0 # mula-mula, set total_tagihan ke 0
while i < jumlah_tagihan: # selama nilai i kurang dari jumlah_tagihan
    total_tagihan += tagihan[i] # tambahkan tagihan[i] ke total_tagihan
    i += 1 # tambahkan nilai i dengan 1 untuk memproses tagihan selanjutnya.
print(total_tagihan)

620000

In [71]:
tagihan = [110000, 200000, 140000, -50000, -140000, 200000, -90000]
i = 0
jumlah_tagihan = len(tagihan)
total_tagihan = 0
while i < jumlah_tagihan:
    # jika terdapat tagihan ke-i yang bernilai minus (di bawah nol),
    # pengulangan akan dihentikan
    if tagihan[i] < 0:
        total_tagihan = -1
        print("terdapat angka minus dalam tagihan, perhitungan dihentikan!")
        break
    total_tagihan += tagihan[i]
    i += 1
print(total_tagihan)

terdapat angka minus dalam tagihan, perhitungan dihentikan!
-1

In [72]:
tagihan = [110000, 200000, 140000, -50000, -140000, 200000, -90000]
i = 0
jumlah_tagihan = len(tagihan)
total_tagihan = 0
while i < jumlah_tagihan:
    # jika terdapat tagihan ke-i yang bernilai minus (di bawah nol),
    # abaikan tagihan ke-i dan lanjutkan ke tagihan berikutnya
    if tagihan[i] < 0:
        i += 1
        continue
    total_tagihan += tagihan[i]
    i += 1
print(total_tagihan)

650000

In [73]:
list_tagihan = [110000, 200000, 140000, -50000, -140000, 200000, -90000]
total_tagihan = 0
for tagihan in list_tagihan: # untuk setiap tagihan dalam list_tagihan
    total_tagihan += tagihan # tambahkan tagihan ke total_tagihan
print(total_tagihan)

370000

In [74]:
list_tagihan = [110000, 200000, 140000, -50000, -140000, 200000, -90000]

# For loops with break
print("For loops with break")
total_tagihan_break = 0
for tagihan in list_tagihan:
    if tagihan < 0:
        print("Terdapat angka minus dalam tagihan, perhitungan dihentikan!")
        break
    total_tagihan_break += tagihan
print("Total tagihan %d." % total_tagihan_break)
print()

# For loops with continue
print("For loops with continue")
total_tagihan_continue = 0
for tagihan in list_tagihan:
    if tagihan < 0:
        print("Terdapat angka minus dalam tagihan, tagihan %d dilewati!" % tagihan)
        continue
    total_tagihan_continue += tagihan
print("Total tagihan %d." % total_tagihan_continue)

For loops with break
Terdapat angka minus dalam tagihan, perhitungan dihentikan!
Total tagihan 450000.

For loops with continue
Terdapat angka minus dalam tagihan, tagihan -50000 dilewati!
Terdapat angka minus dalam tagihan, tagihan -140000 dilewati!
Terdapat angka minus dalam tagihan, tagihan -90000 dilewati!
Total tagihan 650000.

In [75]:
list_daerah = ['Tenggarong', 'Samarinda', 'Bontang']
list_buah = ['Lemon', 'Mangga', 'Semangka']
for nama_daerah in list_daerah:
    for nama_buah in list_buah:
        print(nama_buah+" "+nama_daerah)

Lemon Tenggarong
Mangga Tenggarong
Semangka Tenggarong
Lemon Samarinda
Mangga Samarinda
Semangka Samarinda
Lemon Bontang
Mangga Bontang
Semangka Bontang

In [76]:
list_cash_flow = [1900000, 1200000, 1000000, -1000000, 3000000, -3000000, 2100000, 2000000, 9000000, 2000000, 1800000, -5000000]

total_pengeluaran, total_pemasukan = 0, 0
for dana in list_cash_flow:
    if dana > 0:
        total_pemasukan += dana
    else:
        total_pengeluaran += dana
total_pengeluaran *= -1

print('Total Pengeluaran Perusahaan:')
print(total_pengeluaran) 
print('')
print('Total Pemasukan Perusahaan:')
print(total_pemasukan)

Total Pengeluaran Perusahaan:
9000000

Total Pemasukan Perusahaan:
24000000